{% extends 'base.html' %}
{%load static%}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/recipes/recipes-detail.css' %}" />
{% endblock %}

{% block content %}
  <h1>{{ recipe.name }}</h1>

  <p><strong>Description:</strong> {{ recipe.description }}</p>
  <p><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
  <p><strong>Prep Time:</strong> {{ recipe.prep_time }}</p>
  <p><strong>Cook Time:</strong> {{ recipe.cook_time }}</p>
  <p><strong>Instructions:</strong> {{ recipe.instructions }}</p>
  <p><strong>Servings:</strong> {{ recipe.servings }}</p>
  <p><strong>Image:</strong> <img src="{{ recipe.imageurl }}" alt="{{ recipe.name }}"></p>
  <p><strong>Created By:</strong> {{ recipe.user.username }}</p>
  <p><strong>Created At:</strong> {{ recipe.created_at }}</p>
  <p><strong>Updated At:</strong> {{ recipe.updated_at }}</p>

  <div class='recipe-actions'>
    <a href="{% url 'recipe_update' recipe.id  %}" class='btn warn'>Edit</a>
    <a href="{% url 'recipe_delete' recipe.id  %}" class='btn danger'>Delete</a>
  </div>

    <div class="comments-section">
      <section>
        <form 
        method="post" 
        action='{% url "comment_create" recipe.id %}'
        class="subsection-content" 
        autocomplete="off">
          {% csrf_token %} 
          {{ comment_form.as_p }}
          <button type="submit" class="btn submit">Add Comment</button>
        </form>
      </section>
      <section class="comments">
          <div class="subsection-title">
              <h2>Comments</h2>
          </div>
          <ul>
              {% for comment in recipe.comment_set.all %}
                  <li>
                      <p>{{ comment.text }}</p>
                      <p><small>{{ comment.created_at }}</small></p>
                  </li>
              {% endfor %}
          </ul>
      </section>
  </div>

{% endblock %}
