{% extends 'base.html' %} 
{% block content %}
<h1>About the recpies</h1>
<hr />
<p class="page-content">
  You ever wonder why you can't cook? Why every time you turn the stove on, you
  almost unalive everyone in the house? Well, you're in luck! This website is
  here to help you become the next Gordon Ramsay. We have recipes for every meal
  of the day, and we might have a section for desserts for you my little thiccy
  poo. So, what are you waiting for? Get cookin good lookin!
</p>
{% endblock %}
