{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>whats cookin good lookin</title>
    {% block head %} {% endblock %}
  </head>
  <body>
    <header>
      <div>
        <a href="/">
          <img src={% static 'images/recpies-logo.png'%} alt="Logo" height='100'>
        </a>
      </div>
      <nav>
          <li><a href="{% url 'recipes_index' %}">All Recipes</a></li>
          <li><a href="{% url 'recipes_create' %}">Add a Recipe</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
        </ul>
      </nav>
    </header>
    <main>{% block content %} {% endblock %}</main>
    <script src="{% static 'js/navbar.js' %}"></script>
  </body>
</html>
