.recipe-container {
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-img {
  width: 75%;
  max-width: 350px;
  border-radius: var(--card-border-radius);
}

.recipe-details {
  width: 98%;
}

.recipe-actions {
  margin-top: 20px;
}

.recipe-details h1 {
  font-size: var(--font-xxl);
  margin: 15px 0 3px;
}

.recipe-details h2 {
  font-size: var(--font-xl);
  margin: 0 0 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

.recipe-details h3 {
  margin: 20px 0 10px;
  font-size: var(--font-l);
}

.recipe-details p {
  font-size: var(--font-reg);
  margin: 5px 0;
}

.recipe-container {
  padding: 35px 30px;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.recipe-img {
  width: 25%;
  max-width: 250px;
  margin-right: 25px;
}

@media only screen and (min-width: 768px) {
  .recipe-container {
    padding: 35px 30px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .recipe-img {
    width: 25%;
    max-width: 250px;
    margin-right: 25px;
  }
}

@media only screen and (min-width: 1024px) {
  .recipe-container {
    padding: 35px 40px;
  }
}
